$mihanada: #7EC7D8;
$mihanada-dark-0: #7AC1D1;
$mihanada-dark-1: #64B6CA;
$mihanada-dark-2: #50B7CF;
$mihanada-dark-3: #3FAAC2;
$mihanada-light-1: #6FB4C4;
$mihanada-light-2: #9DDDEC;
$background: #FFFCF9;
$text-black: #4A515A;
$text-gray: #909090;
$text-whitegray: #DDDDDD;
